@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.ttf");
}
header {
  width: 100%;
  height: 104px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cap {
  width: 100%;
  background: #a5c926;
  height: 32px;
  display: flex;
  align-items: center;
}
.icons {
  margin-left: 13px;
}
.up_cap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  color: #fff;
  font-family: "OpenSans-Regular";
  font-size: 11px;
  justify-content: space-between;
}
.nav_disable {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "OpenSans-Regular";
  font-weight: 400;
  align-items: center;
  height: 72px;
}
.header__menu-lin {
  font-family: "OpenSans-Regular";
  font-size: 32px;
  color: #000;
}
.header__menu {
  display: flex;
  list-style: none;

  font-family: "OpenSans-Regular";
}
.header__menu a {
  text-decoration: none;
  color: #000000;
}
.header__menu-link {
  margin-right: 32px;
}
.login a {
  margin-left: 14px;
}
.login {
  display: flex;
}
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 300px;
    margin: 30px auto; /* отображение окна по центру */
  }
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.close {
  float: right;
  text-decoration: none;
  font-weight: 900;
  color: #a5c926;
}
.close:focus,
.close:hover {
  color: #4f4f4f;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
.modal-body form {
  display: flex;
  flex-direction: column;
}
.modal-body input {
  display: flex;
  flex-direction: column;
}
.modal-body {
  display: flex;
  justify-content: left;
  padding-left: 20px;
}
.modal-body p {
  margin: 10px;
  font-family: "OpenSans-Regular";
  font-size: 18px;
}
.modal-title {
  font-family: "OpenSans-Regular";
  font-size: 25px;
}
.modal-header {
  padding: 30px;
}
.modal-body button {
  width: 250px;
  height: 35px;
  margin: 20px 0px 30px 10px;
  background-color: #a5c926;
  font-family: "OpenSans-Regular";
  font-weight: 700;
  color: #fff;
  border-radius: 50px;
  border: #a5c926;
}
.modal-body input {
  width: 250px;
  height: 30px;
  line-height: 1.5;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid #a5c926;
}
.login a {
  list-style: none;
  color: #000000;
}
.main ul {
  list-style: none;
  display: flex;
}
.main a {
  text-decoration: none;
  color: #000;
  font-family: "OpenSans-Regular";
  margin-right: 2px;
}
.main {
  height: 72px;
  display: flex;
  align-items: center;
}
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .lol {
  padding: 10px;
  width: 200px;
}

.text {
  margin: 20px 0 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.text p {
  font-family: "OpenSans-Regular";
  font-size: 16px;
}
.text h3 {
  font-family: "OpenSans-Regular";
  font-size: 20px;
}
.footer {
  background-color: #a5c926;
  padding-top: 100px;
  /*padding-bottom: 105px;
      color: #fff;
      */
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
}
.label {
  display: flex;
  width: 1170px;
}
.toy_label {
  color: #fff;
  font-family: "VarelaRound-Regular";
  font-size: 21px;
  font-weight: 400;
}
.footer__menu {
  display: flex;
  font-family: "OpenSans-Regular";
  margin-left: 500px;
}
.basement {
  display: flex;
  border-top: 1px solid #e6e8dd;
  max-width: 1170px;
}
.footer__menu-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
  color: #fff;
}
.creat {
  font-family: "OpenSans-Regular";
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  margin-right: 20px;
}
.power {
  width: 100%;
  display: flex;
  justify-content: right;
}
.el {
  display: flex;
}
.footer__menu {
  list-style: none;
}
#username {
  font-family: "OpenSans-Regular";
}
.user img {
  width: 100px;
  border: 1px solid #a5c926;
  border-radius: 50%;
  margin: 30px;
}
.profile {
  width: 550px;
  margin: 0 auto;
}
.user {
  display: flex;
  align-items: center;
}
.grid-cart h3 {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}
.grid-cart p {
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
  margin-top: 10px;
}
.grid-cart {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 100px 100px 100px;
  grid-gap: 35px;
  margin: 50px 0px 100px 30px;
}
.product_in_cart,
.like_product,
.purchased_goods {
  border: 1px solid #a5c926;
  border-radius: 15px;
  padding: 10px;
}
.order1 {
  grid-column-start: 1;
  grid-column-end: 5;
  border-radius: 15px;
  border: 1px solid #a5c926;
  width: 520px;
  display: flex;
  padding: 0 20px 0 20px;
}
.order2 {
  grid-column-start: 1;
  grid-column-end: 5;
  border-radius: 15px;
  border: 1px solid #a5c926;
  width: 520px;
  display: flex;
  padding: 0 20px 0 20px;
}
.order3 {
  grid-column-start: 1;
  grid-column-end: 5;
  border-radius: 15px;
  border: 1px solid #a5c926;
  width: 520px;
  display: flex;
  padding: 0 20px 0 20px;
}
.order1 h3 {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  font-weight: 600;
}
.order2 h3 {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  font-weight: 600;
}
.order3 h3 {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  font-weight: 600;
}
.order1 p {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  font-weight: 400;
}
.order2 p {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  font-weight: 400;
}
.order3 p {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  font-weight: 400;
}
.order1 img {
  padding: 0 0 0 150px;
}
.order2 img {
  padding: 0 0 0 150px;
}
.order3 img {
  padding: 0 0 0 150px;
}
